* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 90vh;
  background: linear-gradient(to left, #b149ff 0%, #00ffff 100%);
  position: relative;
}

section {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  width: 40vw;
  height: 55vh;
  position: absolute;
  left: 35vw;
  top: 20vh;
  border-radius: 10px;
  box-shadow: 5px 15px 50px -13px rgba(0, 0, 0, 0.75)
}

#titulo-pgn {
  position: absolute;
  left: 80px;
  top: 25px;
  font-family: 'Fuzzy Bubbles';
  font-size: 30px;
  text-decoration: underline 3px;
}

#btn-login {
  background: #af5af5;
  background-image: -webkit-linear-gradient(top, #af5af5, #2980b9);
  background-image: -moz-linear-gradient(top, #af5af5, #2980b9);
  background-image: -ms-linear-gradient(top, #af5af5, #2980b9);
  background-image: -o-linear-gradient(top, #af5af5, #2980b9);
  background-image: linear-gradient(to bottom, #af5af5, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  width: 8vw;
  padding: 8px;
  text-decoration: none;
  position: absolute;
  top: 250px;
  left: 230px;
}

#btn-cadastro {
  background: #af5af5;
  background-image: -webkit-linear-gradient(top, #af5af5, #2980b9);
  background-image: -moz-linear-gradient(top, #af5af5, #2980b9);
  background-image: -ms-linear-gradient(top, #af5af5, #2980b9);
  background-image: -o-linear-gradient(top, #af5af5, #2980b9);
  background-image: linear-gradient(to bottom, #af5af5, #2980b9);
  border: 2px solid black;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 10px;
  font-family: Arial;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  width: 8vw;
  padding: 8px;
  text-decoration: none;
  position: absolute;
  top: 250px;
  left: 340px;

}

a {
  text-decoration: none;
  color: #fff;
}


#label-login {
  display: block;
  font-family: 'Poppins', sans-serif;
  width: 5vw;
  font-weight: 1000;
  position: relative;
  top: 120px;
  left: 230px;

}

#label-senha {
  display: block;
  font-family: 'Poppins', sans-serif;
  width: 5vw;
  font-weight: 1000;
  position: absolute;
  top: 185px;
  left: 230px;
}


#input-login {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: gainsboro;
  position: absolute;
  padding: 4px;
  top: 145px;
  left: 230px;
}

#input-senha {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: gainsboro;
  position: absolute;
  padding: 4px;
  top: 210px;
  left: 230px;
}


#btn-login:hover {
  background: #419cd1;
  text-decoration: none;


}

#btn-cadastro:hover {
  background: #419cd1;
  text-decoration: none;

}

img {
  position: absolute;
  height: 210px;
  top: 100px;
  left: 10px;
  border-radius: 5px;
}